@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color: #111;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/bg.jpeg);
    background-size: cover;
}
.banner .content{
    max-width: 900px;
    text-align: center;
}
.banner .content h2{
    font-size: 4em;
    color: #fff;
    z-index: 1000;
}
.banner .content p{
    font-size: 1em;
    font-weight: 500;
    color: #fff;
}
.btn{
    font-size: 1em;
    color: #fff;
    background: #bd5074;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}
.btn:hover{
    letter-spacing: 6px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 10000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky{
    background: #fff;
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header .logo{
    color:#fff;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}
header.sticky .logo{
    color:#111; 
}

header .logo span{
    color: #bd5074;
}
header .navigation{
    position: relative;
    display: flex;
}
header .navigation li{
    list-style: none;
    margin-left: 40px;
}
header .navigation li a{
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}
header.sticky .navigation li a{
    color: #111;
}
header .navigation li a:hover{
    /* color:#bd5074 ; */
    border: 4px dotted #bd5074;
}

section{
    padding: 100px;
}
.row{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.row .col50{
    position: relative;
    width: 48%;
    text-align: justify;
}
.titleText{
    color: #111;
    font-size: 2em;
    font-weight: 300;
}
.titleText span{
    color: #bd5074;
    font-weight: 700;
    font-size: 1.5em;
}
.row .col50 .imgBx{
    position: relative;
    width: 100%;
    height: 100%;
}
.row .col50 .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.negocios .content{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 30px;
}
.negocios .content .box{
    width: 340px;
    margin: 20px;
    border: 1px solid #bd5074;
    padding: 20px 50px;
}
.negocios .content .box .titulo{
    padding: 8px 0 5px;
}
.negocios .content .box .titulo h2{
    font-weight: 400;
    color: #111;
    font-family: 'Josefin Sans', sans-serif;
}
.negocios .content .box .correo{
    padding: 5px 0 5px;
    
}
.negocios .content .box .descripcion{
    padding: 5px 0 5px;
}
.negocios .content .box .productos{
/*     display: flex;
    justify-content: space-between; */
    padding: 5px 0 5px;
}
.negocios .content .box .productos h4{
    text-transform: uppercase;
    font-weight: 300;
}

.negocios .content .box .productos li{
    display: inline-block;
    list-style: none;
    background: #b46b83;
    padding: 2px 5px;
    margin-top: 5px;
}
.negocios .content .box .whatsapp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.negocios .content .box .whatsapp a{
    color: #fff;
    background: #35d8d0;
    margin-top: 10px;
    padding: 8px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 18px 18px 18px 18px;
-moz-border-radius: 18px 18px 18px 18px;
-webkit-border-radius: 18px 18px 18px 18px;
}

.copyrighText{
    padding: 8px 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}
.copyrighText p{
    color: #333;
}
.copyrighText a{
    color: #bd5074;
    font-weight: 500;
    text-decoration: none;
}

@media (max-width:991px)
{
    header,header.sticky{
        padding: 10px 20px ;
    }
    header .navigation{
        display: none;
    }
    header .navigation.active{
        width: 100%;
        height: calc(100% - 68px);
        position: fixed;
        top: 68px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: #fff;
    }
    header .navigation li{
        margin-left: 0;
    }
    header .navigation li a{
        color: #111;
        font-size: 1.6em;
    }
    .menuToggle{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
    }
    .menuToggle.active{
        background: url(img/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    }
    header.sticky .menuToggle{
        filter: invert(1);
    }
    section{
        padding: 20px;
    }
    .banner .content h2{
        font-size: 3em;
        color:#fff;
    }
    .row{
        flex-direction: column;
    }
    .row .col50{
        position: relative;
        width: 100%;
    }
    .row .col50 .imgBx{
        height: 300px;
        margin-top: 20px;
    }
    .negocios .content{
        margin-top: 20px;
    }
    .negocios .content .box{
        margin: 10px;
    }

    .title{
        text-align: center;
    }
    .titleText{
        font-size: 1.8em;
        line-height: 1.5em;
        margin-bottom: 15px;
        font-weight: 300;
    }
}
@media (max-width:480px){
    .banner .content h2{
        font-size: 2.2em;
        color: #fff;
    }
}